<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title 
        size="small"
        color="danger"
        >
        Trabajando con Tibur
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h2>Yup mi colega</h2>
    <p class="calo">fos que calo</p>
    <p class="maria">y que lo digas maria</p>
    <p>👇y esto es una variable desde JS 👇</p>
    <h3>{{greetin}}</h3>
  </div>
</ion-content>
