<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>es tu favorito?</ion-label>
      <ion-toggle (click)="supe()"></ion-toggle>
     </ion-item> 
    <form [formGroup]="updateUserFg" (ngSubmit)="onSubmit()">
      
      <ion-item>
        <ion-label position="floating">tipo</ion-label>
        <ion-input formControlName="tipo" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">calidad</ion-label>
        <ion-input formControlName="calidad" type="text" required>
        </ion-input>
      </ion-item>

    

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="success" expand="block">Update</ion-button>
        </ion-col>
      </ion-row>
      
    </form>
   
  </ion-list>
</ion-content>